<div class="pagenavi">
  <% if (pagination.prev) { %>
    <div class="item"><a href="<%= pagination.prev %>">更新文章</a></div>
  <% } else { %>
    <div class="item">已是最新一页</div>
  <% } %>
  <div class="item"> · </div>
  <% if (pagination.next) { %>
    <div class="item"><a href="<%= pagination.next %>">旧有文章</a></div>
  <% } else { %>
    <div class="item">已是最旧一页</div>
  <% } %>
</div>
